<div class="br-header" compact no-search>
  <div class="container-lg">
    <div class="flex-container">
      <div class="logo">
        <%= link_to root_path do %>
        <%= image_tag "https://www.gov.br/++theme++padrao_govbr/img/govbr-colorido-b.png", width: 100 %>
        <div class="sign">Consulta Espacializada à Legislação Ambiental (CELLA)</div>
        <% end %>
      </div>
      <div class="actions">
        <div class="links">
          <button class="br-button" type="button" circle mini><i class="fas fa-ellipsis-v"></i>
          </button>
          <ul>
            <li class="title">Acesso Rápido</li>
            <li><a href="javascript:void(0);">Legislação</a></li>
            <li><a href="javascript:void(0);">Conheça</a></li>
            <% if user_signed_in? %>
              <li><%= link_to "Minhas normas", myrules_path(current_user) %></li>
            <% else %>
              <li><%= link_to "Cadastre-se", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
        <div class="login d-flex">
          <% if user_signed_in? %>
            <button class="br-button" type="button" mini><i class="fas fa-user"></i><span class="ml-1"><%= current_user.first_name %></span>
            </button>
            <%= link_to signout_path do %>
            <button class="br-button" type="button" mini><i class="fas fa-sign-out-alt"></i><span class="ml-1">Sair</span>
            </button>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
            <button class="br-button" type="button" mini><i class="fas fa-user"></i><span class="ml-1">Entrar</span>
            </button>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="menu">
        <button class="br-button" type="button" circle mini><i class="fas fa-bars"></i></button>
        <p class="mb-0">Consulta Espacializada à Legislação Ambiental (CELLA)</p>
      </div>
      <div class="search">
        <div class="br-input has-icon">
          <label></label>
          <input class="has-icon" type="text" placeholder="O que você procura?">
          <button class="icon" type="button"><span class="icon"><i class="fas fa-search"></i></span></button>
        </div>
        <button class="br-button search-close" type="button" circle mini><i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>
</div>
