<div class="br-header" compact no-search>
  <div class="container-lg">
    <div class="flex-container">
      <%= link_to root_path do %>
      <div class="logo">
        <%= image_tag "https://www.gov.br/++theme++padrao_govbr/img/govbr-colorido-b.png", width: 100 %>
        <div class="sign">Consulta Espacializada à Legislação Ambiental (CELLA)</div>
        <% end %>
      </div>
      <div class="actions">
        <div class="links">
          <button class="br-button" type="button" circle mini><i class="fas fa-ellipsis-v"></i>
          </button>
          <ul>
            <li class="title">Acesso Rápido</li>
            <li><%= link_to "Homepage", root_path %></li>
            <li><%= link_to "Legilação", rules_path %></li>
            <li><%= link_to 'Saiba Mais', about_path %></li>
            <% if @user =! current_user %>
            <li><%= link_to "Cadastre-se", new_user_registration_path %></li>
            <% else %>
            <li><%= link_to "Inclua uma norma", new_rule_path %></li>
            <li><%= link_to "Minhas normas", myrules_path(current_user) if !current_user.nil? %></li>          
            <% end %>
          </ul>
        </div>
        <div class="search-btn">
          <button class="br-button" type="button" circle mini><i class="fas fa-search"></i>
          </button>
        </div>

        <% if @user =! current_user%>
        <div class="login">
          <%= link_to new_user_session_path do %>
          <button class="br-button" type="button" mini><i class="fas fa-user"></i><span class="ml-1">Entrar</span>
          </button>
        </div>
        <% end %>
        <% else %>

        <div class="login">
          <%= link_to destroy_user_session_path do %>
          <button class="br-button" type="button" mini><i class="fas fa-user"></i><span class="ml-1">Sair</span>
          </button>
        </div>
        <% end %>

        <% end %>

      </div>
      <div class="menu">
        <button class="br-button" type="button" circle mini><i class="fas fa-bars"></i>
        </button>
        <p>Consulta Espacializada à Legislação Ambiental (CELLA)<p/>
      </div>
      <div class="search">
        <div class="br-input has-icon">
          <label></label>
          <input class="has-icon" type="text" placeholder="O que você procura?">
          <button class="icon" type="button"><span class="icon"><i class="fas fa-search"></i></span></button>
        </div>
        <button class="br-button search-close" type="button" circle mini><i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>
</div>
