<div class="banner">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-content col-sm-4 position-absolute">
        <h2>Consulta Espacializada à Legislação do Licenciamento Ambiental</h2>
        <p>Encontre o conjunto de normas atualizadas para o processo de licenciamento ambiental do seu projeto de infraestrutura.</p>
        <%= link_to 'Saiba Mais', about_path, class: "br-button primary" %>
      </div>
      <div class="carousel-item active" data-interval="4000">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1561533115-f893e69758e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="Primeiro Slide" style="height: 750px; object-fit : cover;">
      </div>
      <div class="carousel-item" data-interval="4000">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1529529789882-da0f47b28624?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80" alt="Segundo Slide" style="height: 570px; object-fit : cover;">
      </div>
      <div class="carousel-item" data-interval="4000">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1457728940372-39f8bf47f3d7?ixlib=rb-1.2.1&auto=format&fit=crop&w=748&q=80" alt="Terceiro Slide" style="height: 795px; object-fit : cover;">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
</div>
<div class="cards">
  <%= link_to spatial_search_path do %>
  <div class="card-landing-page mt-5">
    <span><i class="fas fa-search-location"></i></span>
    <div class="card-landing-page-infos">
      <div>
        <p>Encontre as normas aplicadas na área de seu projeto.</p>
      </div>
    </div>
  </div>
  <% end %>
  <%= link_to rules_path do %>
  <div class="card-landing-page mt-5">
    <span><i class="fas fa-book"></i></span>
    <div class="card-landing-page-infos">
      <div>
        <p>Acesse nosso banco de dados e conheça todas as normas cadastradas.</p>
      </div>
    </div>
  </div>
  <% end %>

  <% if current_user.nil? %>
    <%= link_to new_user_registration_path do %>
    <div class="card-landing-page mt-5">
      <span><i class="fas fa-user-plus"></i></span>
      <div class="card-landing-page-infos">
        <div>
          <p>Seja parte de nossa comunidade e contribua com a atualização do banco de dados.</p>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>

    <%= link_to new_rule_path do %>
    <div class="card-landing-page mt-5">
      <span><i class="fas fa-edit"></i></span>
      <div class="card-landing-page-infos">

        <div>
          <p>Contribua com a atualização do banco de dados.</p>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>

</div>
