<%= simple_form_for(@rule) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :jurisdiction, label: "Jurisdição", collection: [['Federal', 'option_value_1', {"class" => "class_name_1"}], ['Estadual', 'option_value_2', {"class" => "class_name_2"}], ['Municipal', 'option_value_2', {"class" => "class_name_2"}]] %>
    <%= f.input :issuer, label: "Emissor" %>
    <%= f.input :category, label: "Categoria" %>
    <%= f.input :number, label: "Número" %>
    <%= f.input :pub_date, label: "Data de Publicação", as: :date, html5: true %>
    <%= f.input :ed_date, label: "Data de Edição", as: :date, html5: true %>
    <%= f.input :long_title, label: "Ementa" %>
    <%= f.input :source, label: "Fonte" %>
    <%= f.input :jurisdiction, label: "Incluir polígono", collection: [['Federal', 'option_value_1', {"class" => "class_name_1"}], ['Estadual', 'option_value_2', {"class" => "class_name_2"}], ['Municipal', 'option_value_2', {"class" => "class_name_2"}]] %>
  </div>

  <div class="form-actions mb-2">
    <%= f.button :submit, value: "Criar nova norma", class: "btn-ghost" %>
    <%= f.button :button, "Cancelar", type: "reset", class: "btn-outline-secondary" %>
  </div>
<% end %>
