<head>
  <link rel="stylesheet" href="https://leaflet.github.io/Leaflet.draw/docs/examples/libs/leaflet.css">
  <link rel="stylesheet" href="https://leaflet.github.io/Leaflet.draw/src/leaflet.draw.css">

  <script src="https://leaflet.github.io/Leaflet.draw/docs/examples/libs/leaflet-src.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/Leaflet.draw.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/Leaflet.Draw.Event.js"></script>

  <script src="https://leaflet.github.io/Leaflet.draw/src/Toolbar.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/Tooltip.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/ext/GeometryUtil.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/ext/LatLngUtil.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/ext/LineUtil.Intersect.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/ext/Polygon.Intersect.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/ext/Polyline.Intersect.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/ext/TouchEvents.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/draw/DrawToolbar.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Feature.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.SimpleShape.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Polyline.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Marker.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Circle.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.CircleMarker.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Polygon.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/draw/handler/Draw.Rectangle.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/edit/EditToolbar.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/EditToolbar.Edit.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/EditToolbar.Delete.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/Control.Draw.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.Poly.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.SimpleShape.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.Rectangle.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.Marker.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.CircleMarker.js"></script>
  <script src="https://leaflet.github.io/Leaflet.draw/src/edit/handler/Edit.Circle.js"></script>
</head>

<div class="container">
  <h2 class="mb-0">Editar norma</h2>
</div>
<div class="container d-flex">
  <div class="form-container col-sm-5 mb-5">
    <h4>Dados Gerais</h4>

    <%= simple_form_for(@rule) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="form-inputs">
        <%= f.input :jurisdiction, label: "Jurisdição", collection: ['Federal', 'Estadual', 'Municipal'] %>
        <%= f.input :issuer, label: "Emissor" %>
        <div class="d-flex">
          <div class="mr-3">
            <%= f.input :category, label: "Tipo de Norma", collection: ['Acordo internacional', 'Constituição', 'Decreto', 'Decreto Legislativo', 'Emenda Constitucional', 'Instrução Normativa', 'Instrução Operacional', 'Lei', 'Lei Complementar', 'Medida Provisória', 'Portaria', 'Resolução'] %>
          </div>
          <div>
            <%= f.input :number, label: "Número" %>
          </div>
        </div>
        <div class="d-flex">
          <%= f.input :ed_date, label: "Data de Edição", as: :date, html5: true %>
          <%= f.input :pub_date, label: "Data de Publicação", as: :date, html5: true %>
        </div>
        <%= f.input :long_title, label: "Ementa" %>
        <%= f.input :source, label: "Fonte" %>
        <%= f.input :hyperlink, label: "Link da Norma" %>
        <%= f.association :industries, label: "Setor", input_html: { multiple: true }, collection: Industry.order('name ASC'), include_hidden: false %>
      </div>

      <div class="form-actions mb-2">
        <%= f.button :submit, value: "Atualizar norma", class: "btn-ghost" %>
        <%= f.button :button, "Cancelar", type: "reset", class: "btn-cancel" %>
      </div>

    <%= link_to 'Voltar', root_path, class: "btn-ghost" %>

  </div>

  <div class="form-container col-sm-8 mb-5" data-controller="polygon">
    <div>
      <h4>Associar Polígono</h4>
    </div>
    <div class="mb-3">
      <div>
        <label for="geom-input-option">Escolha uma forma de apresentar a área</label>
        <select class="form-control select mb-3" id="geom-input-option" data-target="select" data-action="click->polygon#options" name="geom-input-option" required>
          <option default></option>
          <option value="load">Selecionar polígono cadastrado</option>
          <option value="upload">Carregar arquivo shapefile compactado</option>
        </select>

        <div id='form-file' class="mb-3" data-target="polygon.file" hidden>
          <input type="file">
        </div>

        <div id='form-polygon' data-target="polygon.polygon" hidden>
          <%= f.association :polygons, label: "Polígonos cadastrados", collection: Polygon.order('name ASC'), input_html: { multiple: true }, include_hidden: false %>
        </div>
        <% end %>
      </div>
    </div>

    <div>
      <input type="hidden" name="geography" id='wkt-hidden-input'>
    </div>

    <div id="map-index" class= "col-sm-12" style="width: 100vw; height: 100vh; margin: 0 auto;">
    </div>

  </div>

</div>
