<div class="container">
  <h2 class="mb-0">Cadastrar uma nova norma</h2>
</div>
<div class="container d-flex">
  <div class="form-container col-sm-5 mb-5">

    <h3>Dados Gerais</h3>

    <%= simple_form_for(@rule) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :jurisdiction, label: "Jurisdição", collection: ['Federal', 'Estadual', 'Municipal'] %>
        <%= f.input :issuer, label: "Emissor" %>
        <div class="d-flex">
          <div class="mr-4">
            <%= f.input :category, label: "Tipo de Norma", collection: ['Decreto', 'Decreto Legislativo', 'Emenda Constitucional', 'Instrução Normativa', 'Instrução Operacional', 'Lei', 'Lei Complementar', 'Medida Provisória', 'Portaria', 'Resolução'] %>
          </div>
          <div>
            <%= f.input :number, label: "Número" %>
          </div>
        </div>
        <div class="d-flex">
          <%= f.input :ed_date, label: "Data de Edição", as: :date, html5: true %>
          <%= f.input :pub_date, label: "Data de Publicação", as: :date, html5: true %>
        </div>
        <%= f.input :long_title, label: "Ementa" %>
        <%= f.input :source, label: "Fonte" %>
        <%= f.input :hyperlink, label: "Link da Norma", type: "url" %>
        <%= f.association :industries, label: "Setor", input_html: { multiple: true }, collection: Industry.order('name ASC'), include_hidden: false %>
      </div>

      <div class="form-actions mb-2">
        <%= f.button :submit, value: "Criar nova norma", class: "btn-ghost" %>
        <%= f.button :button, "Cancelar", type: "reset", class: "btn-cancel" %>
      </div>

    <%= link_to 'Voltar', root_path, class: "btn-ghost" %>

  </div>

  <div class="col-sm-8">
    <div>
      <h3>Associar Polígono</h3>
    </div>
    <div class="d-flex mb-3">
      <div>
        <label for="geom-input-option">Escolha uma forma de apresentar a área</label>
        <select id="geom-input-option" class="mb-2" name="geom-input-option" required>
          <option default></option>
          <option value="load">Selecionar polígono cadastrado</option>
          <option value="upload">Carregar arquivo shapefile compactado</option>
        </select>

        <div id='form-4th-row' class="mb-3">
          <input type="file">
        </div>

        <div id='form-5th-row'>
          <%= f.association :polygons, label: "Polígonos cadastrados", collection: Polygon.order('name ASC'), input_html: { multiple: true }, include_hidden: false %>
        </div>
        <% end %>
      </div>
    </div>

    <div>
      <input type="hidden" name="geography" id='wkt-hidden-input'>
    </div>

    <div id="map" class= "col-sm-12" style="width: 100vw; height: 100vh; margin: 0 auto;">
    </div>

  </div>

</div>


<script type="text/javascript">
  window.addEventListener("load", (event) => {
    document.getElementById('form-4th-row').hidden = true;
    document.getElementById('form-5th-row').hidden = true;
  });
  const formGeoInputOption = document.getElementById('geom-input-option');
  formGeoInputOption.addEventListener('input', (event) => {
    console.log("Geometry input option is set");
    const form4thRow = document.getElementById('form-4th-row');
    const form5thRow = document.getElementById('form-5th-row');
    if (formGeoInputOption.value == "load") {
      form4thRow.hidden = true;
      form5thRow.hidden = false;
    } else if (formGeoInputOption.value == "upload") {
      form4thRow.hidden = false;
      form5thRow.hidden = true;
      drawControl.remove(map);
    } else {
      form4thRow.hidden = true;
      form5thRow.hidden = true;
      drawControl.remove(map);
    };
  });
</script>

