<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="br-card mt-3">
        <div class="front">
          <div class="header text-center">
            <p class="h5 text-primary-default mb-0">
              <%= link_to "#{@rule.category} nº #{@rule.number}, de #{format_date(@rule.ed_date)}", @rule.hyperlink, :target => "_blank" %>
            </p>
            <span><%= "Publicado em #{format_date(@rule.pub_date)}" %></span>
          </div>
          <div class="content text-justify">
            <p class="mt-3">
              <%= @rule.long_title %>
            </p>
          </div>
          <div class="footer">
            <p>
              <strong>Órgão(s) emissor(es):</strong>
              <%= @rule.issuer %>
            </p>
            <% if @rule.user != User.first %>
              <p>
                <strong>Cadastrado pelo usuário:</strong>
                <%= "#{@rule.user.first_name} #{@rule.user.last_name} "%>
              </p>
            <% end %>
            <p>
              <strong>Polígonos:</strong>
              <div class="br-list">
                <ul>
                  <% @rule.polygons.each do |polygon| %>
                  <li><%= link_to polygon.name, "#", :target => "_blank"  %></li>
                  <% end %>
                </ul>
              </div>
            </p>

            <div class="br-divider"></div>

            <h4 class="text-right">
              <%= link_to @rule.hyperlink, :target => "_blank" do %>
                <i class="fas fa-link"></i>
              <% end %>
              <% if @rule.jurisdiction == "Federal" %>
                <span class="badge badge-danger"><%= @rule.jurisdiction %></span>
              <% elsif @rule.jurisdiction == "Estadual"%>
                <span class="badge badge-warning"><%= @rule.jurisdiction %></span>
              <% else%>
                <span class="badge badge-primary"><%= @rule.jurisdiction %></span>
              <% end %>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
    </div>
    <%= link_to 'Voltar', root_path, class: "btn-ghost" %>
  </div>
</div>
