<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="br-card mt-3 border">
        <div class="front">
          <div class="header text-center">
            <p class="h5 text-primary-default mb-0">
              <%= link_to "#{@rule.category} n췈 #{@rule.number}, de #{format_date(@rule.ed_date)}", @rule.hyperlink, :target => "_blank" %>
            </p>
            <span><%= "Publicado em #{format_date(@rule.pub_date)}" %></span>
          </div>
          <div class="content text-justify">
            <p class="mt-3">
              <%= @rule.long_title %>
            </p>
          </div>
          <div class="footer">
            <p>
              <strong>칍rg칚o(s) emissor(es):</strong>
              <%= @rule.issuer %>
            </p>
            <% if @rule.user != User.first %>
              <p>
                <strong>Cadastrado pelo usu치rio:</strong>
                <%= "#{@rule.user.first_name} #{@rule.user.last_name} "%>
              </p>
            <% end %>
            <p>
              <strong>Pol칤gonos:</strong>
              <div class="br-list">
                <ul>
                  <% @rule.polygons.each do |polygon| %>
                  <li><%= link_to polygon.name, "#", :target => "_blank"  %></li>
                  <% end %>
                </ul>
              </div>
            </p>

            <div class="br-divider"></div>

            <h4 class="text-right">
              <%= link_to @rule.hyperlink, :target => "_blank" do %>
                <i class="fas fa-external-link-alt mr-3"></i>
              <% end %>
              <% if @rule.jurisdiction == "Federal" %>
                <span class="badge badge-danger"><%= @rule.jurisdiction %></span>
              <% elsif @rule.jurisdiction == "Estadual"%>
                <span class="badge badge-warning"><%= @rule.jurisdiction %></span>
              <% else%>
                <span class="badge badge-primary"><%= @rule.jurisdiction %></span>
              <% end %>
            </h4>
          </div>
        </div>
      </div>
    <%= simple_form_for [ @rule, @rating ] do |f| %>

   <%= f.input :grade, as: :radio_buttons, label:"Norma importante para seu dia-a-dia?", collection: [[1, '游녨'], [-1, '游녩']], label_method: :second, value_method: :first, wrapper: :vertical_collection_inline %>
   <%= f.input :validity, as: :radio_buttons, label:"Norma em vig칡ncia?", collection: [[1, '游녨'], [-1, '游녩']], label_method: :second, value_method: :first, wrapper: :vertical_collection_inline %>
      <%= f.submit "Enviar feedback", class: "btn btn-primary" %>
    <% end %>




<div>

</div>
    </div>
    <div class="col-4">
    <%= simple_form_for [ @rule, @rating ] do |f| %>
      <%= f.input :comment, label: "Comente aqui" %>
      <%= f.submit "Enviar coment치rio", class: "btn btn-primary" %>
    <% end %>
    <div>
<br>
<div class="table-container">
    <div class="results"> 칔ltimos Coment치rios</div>
      <div id="data">
        <table class="table">
          <thead class="thead-dark">
          <% comments = @ratings.order("created_at DESC") %>
          <% comments2 = [] %>
          <% comments.each { |rating| comments2 << rating if !rating.comment.nil? && rating.comment != "" } %>
          <% comments2 = comments2.first(2) %>









            <% if comments2.size.positive? %>
              <tr>
                <th scope="col">Coment치rio</th>
                <th scope="col">Usu치rio</th>

              </tr>
            </thead>
            <tbody>
            <% comments2.each do |rating| %>
                <tr>
                  <td><%= rating.comment %></td>
                  <td><%= "#{rating.user.first_name} #{rating.user.last_name}" %></td>
                </tr>
            <% end %>
            <% else %>
              <p class="title">N칚o foram encontrados coment치rios para essa norma</p>
            <% end %>
            </tbody>
        </table>
      </div>
  </div>
      <%= link_to 'Voltar para lista', :back, class: "br-button secondary" %>



















    </div>

  </div>
</div>
